doctype html

html
	head
		title Add new users
		link(rel='stylesheet', type='text/css', href='css/main.css')
		link(href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet")

	body
		h1 Add New User
		p
		form(action= "addUser" method= "POST")
			input(type="text" name="firstname" placeholder="first name")
			input(type="text" name="lastname" placeholder="last name")
			input(type="text" name="email" placeholder="email")
			input(type="submit" value= "add")
		h3
			a(class= "button" href= "http://localhost:3000/search") Search
			br
			a(class= "button" href= "http://localhost:3000") Home